<form class="editable character {TPL_ID} custom-system-actor" autocomplete="off">
    <header class="sheet-header">
        <div class="profile-img-container" style="width: 64px; height: 64px; flex: 0 0 64px">
            <img class="profile-img" src="icons/svg/mystery-man.svg" data-edit="img" title="AutoTest_Character" />
        </div>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="AutoTest_Character" placeholder="Name" />
            </h1>

            <div class="custom-system-sheet-actions">
                <div class="custom-system-template-select">
                    <label for="template"> Template : </label>

                    <select id="template" name="system.template">
                        <option value="{TPL_ID}" selected="">AutoTest_Template</option>
                    </select>
                    <a id="custom-system-reload-template"><i class="fas fa-sync"></i></a>
                </div>
            </div>

            <div class="custom-system-customHeader">
                <div
                    class="custom-system-component-contents custom_header custom-system-component-root custom-system-panel"
                ></div>
            </div>
        </div>
    </header>

    <div class="custom-system-customBody">
        <div class="custom-system-component-contents custom_body custom-system-component-root custom-system-panel">
            <div
                class="custom-system-component-contents label_key_edited custom-system-component-root custom-system-field custom-system-field-root custom-system-field-full-size"
                title="Label tooltip edited"
            >
                <span class="custom-system-label-root"
                    ><div class="custom-system-label-icons"></div>
                    <div class="custom-system-label custom-system-label-label">Label text edited</div></span
                >
            </div>
        </div>
    </div>
</form>
