<form class="{{cssClass}} {{actor.type}} custom-system-actor" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="profile-img-container" style="width: 64px; height: 64px; flex: 0 0 64px">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        </div>
        <div class="header-fields">
            <h1 class="itemname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
            </h1>
            <div class="custom-system-sheet-actions">
                <input type="button" class="custom-system-undo" value="Undo" />
                <input type="button" class="custom-system-redo" value="Redo" />
            </div>
        </div>
    </header>

    <div class="custom-system-customBody"></div>
</form>
